.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-container {
  margin-top: 43px;
  padding: 0 180px;
}

.my-navbar {
  padding: 24px 180px !important;
}

.my-bg-primary {
  background-color: #16abf8 !important;
}

.my-text-white {
  color: #ffffff;
}

.navbar-brand {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.my-button {
  display: inline-block;
  padding: 13.5px 30px;
  border-radius: 45px;
  cursor: pointer;
}

.my-button-primary {
  background-color: #16abf8 !important;
}

.my-button-danger {
  background-color: #ed4c5c !important;
}

.my-button-secondary {
  background-color: #f4f4f4 !important;
}

.my-text-button {
  margin: 0 !important;
  line-height: 27px !important;
  font-weight: 600;
  font-size: 18px;
}

.empty-state-container {
  text-align: center;
}

.section-title {
  font-size: 36px;
  font-weight: 700 !important;
  margin: 0;
}

.activity-card {
  margin-bottom: 26px;
  padding: 26px 22px;
  cursor: pointer;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 12px;
}

.activity-card-title {
  font-size: 18px;
  font-weight: 700;
}

.activity-card-gap {
  height: 112px;
}

.activity-card-date {
  font-size: 14px;
  color: #888888;
  font-weight: 500;
  margin: 0;
}

.activity-card-delete,
.item-list-card-delete,
.item-list-card-edit {
  cursor: pointer;
}

.priority-badge {
  height: 10px;
  width: 10px;
  border-radius: 100%;
}

.item-list-card {
  margin-bottom: 26px;
  padding: 26px 28px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 12px;
}

.item-list-card-title {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.item-list-data-container,
.item-page-title-container,
.sort-dropdown-item,
.priority-select-option,
.priority-select-option-container {
  display: flex;
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.sort-dropdown-item {
  width: 250px !important;
}

.my-input-label {
  font-size: 12px;
  font-weight: 700;
}

.custom-toggle-priority-select {
  border: 2px solid #e5e5e5;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.priority-select-option-container {
  justify-content: space-between;
}

.f-18 {
  font-size: 18px;
}

.fw-700 {
  font-weight: 700;
}
.snackbar-text {
  display: inline-block;
}

.snackbar-icon {
  margin-top: -5px;
}

.section-title-input {
  padding-bottom: 0;
  border-bottom: 1px solid black;
  width: 600px;
}
